# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Qt Creator files
manipulator-build-desktop-Qt_4_8_1_in_PATH__System__Debug/
manipulator-build-desktop-Qt_4_8_1_in_PATH__System__Release/

